body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 21cm; /* Ancho de una hoja A4 */
    height: 29.7cm; /* Alto de una hoja A4 */
    padding: 2cm; /* Márgenes */
    box-sizing: border-box;
}

.text-image {
    display: flex;
    justify-content: space-between; /* Alinea los elementos a ambos extremos */
    align-items: flex-start;
    margin-bottom: 1cm;
}

.text {
    width: 60%; /* Ajusta el ancho del párrafo según sea necesario */
    font-size: 12pt;
    line-height: 1.5;
    text-align: justify; /* Justifica el texto */
}

.image {
    width: 4cm; /* Ancho de la imagen */
    height: 4cm; /* Altura de la imagen */
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0.5cm;
}

.table th, .table td {
    border: 1px solid black;
    padding: 0.5cm;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.signature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1cm;
}

.signature-text {
    text-align: left;
}

.final {
    text-align: right;
    margin-top: 1cm;
}
