<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Trabajo-NOL</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>procesar</display-name>
    <servlet-name>procesar</servlet-name>
    <servlet-class>procesar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>procesar</servlet-name>
    <url-pattern>/procesar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_log0</display-name>
    <servlet-name>servlet_log0</servlet-name>
    <servlet-class>servlet_log0</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_log0</servlet-name>
    <url-pattern>/servlet_log0</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>fichero-persistencia</param-name>
    <param-value>/home/user/log2.txt</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>servlet_log1</display-name>
    <servlet-name>servlet_log1</servlet-name>
    <servlet-class>servlet_log1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_log1</servlet-name>
    <url-pattern>/servlet_log1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_log2</display-name>
    <servlet-name>servlet_log2</servlet-name>
    <servlet-class>servlet_log2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_log2</servlet-name>
    <url-pattern>/servlet_log2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_listar_archivo_persistencia</display-name>
    <servlet-name>servlet_listar_archivo_persistencia</servlet-name>
    <servlet-class>servlet_listar_archivo_persistencia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_listar_archivo_persistencia</servlet-name>
    <url-pattern>/servlet_listar_archivo_persistencia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registro</display-name>
    <servlet-name>registro</servlet-name>
    <servlet-class>registro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registro</servlet-name>
    <url-pattern>/registro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>asignaturas</display-name>
    <servlet-name>asignaturas</servlet-name>
    <servlet-class>asignaturas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>asignaturas</servlet-name>
    <url-pattern>/asignaturas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>login</web-resource-name>
      <url-pattern>/login</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>mirol</role-name>
      <role-name>rolpro</role-name>
      <role-name>rolalu</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Protegido</realm-name>
  </login-config>
  <servlet>
    <description></description>
    <display-name>vista_alumno</display-name>
    <servlet-name>vista_alumno</servlet-name>
    <servlet-class>vista_alumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vista_alumno</servlet-name>
    <url-pattern>/vista_alumno</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>cat_api</display-name>
    <servlet-name>cat_api</servlet-name>
    <servlet-class>cat_api</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cat_api</servlet-name>
    <url-pattern>/cat_api</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>alumno</display-name>
    <servlet-name>alumno</servlet-name>
    <servlet-class>alumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alumno</servlet-name>
    <url-pattern>/alumno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lista_asignaturas</display-name>
    <servlet-name>lista_asignaturas</servlet-name>
    <servlet-class>lista_asignaturas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lista_asignaturas</servlet-name>
    <url-pattern>/lista_asignaturas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detalle_asignatura</display-name>
    <servlet-name>detalle_asignatura</servlet-name>
    <servlet-class>detalle_asignatura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detalle_asignatura</servlet-name>
    <url-pattern>/detalle_asignatura</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profesor</display-name>
    <servlet-name>profesor</servlet-name>
    <servlet-class>profesor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profesor</servlet-name>
    <url-pattern>/profesor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>evaluar_alumno_pruebas</display-name>
    <servlet-name>evaluar_alumno_pruebas</servlet-name>
    <servlet-class>evaluar_alumno_pruebas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>evaluar_alumno_pruebas</servlet-name>
    <url-pattern>/evaluar_alumno_pruebas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>alumnos_de_asignatura</display-name>
    <servlet-name>alumnos_de_asignatura</servlet-name>
    <servlet-class>alumnos_de_asignatura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alumnos_de_asignatura</servlet-name>
    <url-pattern>/alumnos_de_asignatura</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>evaluar</display-name>
    <servlet-name>evaluar</servlet-name>
    <servlet-class>evaluar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>evaluar</servlet-name>
    <url-pattern>/evaluar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cambiar_nota</display-name>
    <servlet-name>cambiar_nota</servlet-name>
    <servlet-class>cambiar_nota</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cambiar_nota</servlet-name>
    <url-pattern>/cambiar_nota</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cerrar_sesion</display-name>
    <servlet-name>cerrar_sesion</servlet-name>
    <servlet-class>cerrar_sesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cerrar_sesion</servlet-name>
    <url-pattern>/cerrar_sesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>prueba_nota_media</display-name>
    <servlet-name>prueba_nota_media</servlet-name>
    <servlet-class>prueba_nota_media</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prueba_nota_media</servlet-name>
    <url-pattern>/prueba_nota_media</url-pattern>
  </servlet-mapping>
</web-app>